.home-page {

}

.navbar {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: flex-end !important;
  padding: 20px;
}

.logo {
  max-width: 100px;
}

.user {
  width: 40px;
  border-radius: 999px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  overflow: hidden;
}

.user-item {
  padding: 8px 16px;
  font-size: 14px;
}

.user-item:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  border-right: 1px solid #d8d8d8;
  background-color: #ededed;

}

/*.sidebar:hover {
  width: 150px;
  animation-name: show;
  animation-duration: 200ms;
}*/

.home-main {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*@keyframes show {
  from {width: 70px}
  to {width: 150px}
}*/

.page-title {
  padding: 15px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.main-content {
  height: 100%;
  overflow: auto;
}

.sidebar-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.sidebar-item:hover {
  background-color: #cbc6c6;
}
