/*.login {
  background-image: url("../images/bg-login.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/

.login {
  background-color: #184658;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
}

.empty-email {
  color: red;
}

.empty-value {
  border-color: red !important;
}
