@import "../library/fontawesome-free-6.1.1-web/css/all.css";
.onboading {
  background-color: #184658;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-logo {
  width: 150px;
}