.item-middle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}