<template>
  <div class="">
    <button class="btn btn-primary" @click="click">click</button>
    <button class="btn btn-primary" @click="click2">click2</button>
    <button class="btn btn-primary" @click="click3">click3</button>
    <button class="btn btn-primary" @click="click4">click4</button>
    <div>{{ doneTodosCount }}</div>
  </div>
</template>

<script>

export default {
  name: "DashBoard",
  data() {
    return {

    }
  },
  computed: {
    doneTodosCount () {
      return this.$store.getters.doneTodos
    }
  },
  methods: {
    click() {
      this.$store.commit('increment', 'abc')
    },
    click2() {
      const abc = this.$store.getters.getTodoById(1)
      console.log(abc)
    },
    click3() {
      const abcd = this.$store.getters.data('abcd')
      console.log(abcd)
    },
    click4() {
      this.$store.commit('test', 'abcd')
    },
  }
}
</script>

<style scoped>

</style>