<template>
  <div class="home-page">
    <div class="d-flex h-100">
      <div class="sidebar">
        <div class="sidebar-option">
          <div class="sidebar-item text-decoration-none mt-5" @click="home">
            <i class="fa-solid fa-house"></i>
          </div>
          <div class="sidebar-item text-decoration-none" @click="dashboard">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <div class="sidebar-item text-decoration-none" @click="order">
            <i class="fa-solid fa-table"></i>
          </div>
          <div class="sidebar-item text-decoration-none">
            <i class="fas fa-border-all"></i>
          </div>
          <div class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-circle-user"></i>
          </div>
        </div>

      </div>
      <div class="home-main">
        <nav class="navbar">
<!--          <div class="user item-middle" @click="openOptionUser" @click.once="blurOptionUser">
            <img class="w-100" src="../assets/images/user.png">
          </div>
          <ul class="user-option p-0" v-if="status">
            <li class="user-item">Profile</li>
            <li class="user-item">Log Out</li>
          </ul>-->
          <div class="dropdown">
            <div class="user item-middle" id="dropdownMenuLink" data-bs-toggle="dropdown">
              <img class="w-100" :src="avatarUser">
            </div>

            <ul
                class="dropdown-menu p-0"
                aria-labelledby="dropdownMenuLink"
                style="left: -130px"
            >
              <li class="user-item">Profile</li>
              <li class="user-item" @click="logOut">Log Out</li>
            </ul>
          </div>
        </nav>
        <div class="page-title">
          <h5 class="mb-0">Home page</h5>
        </div>
        <div class="main-content">
          <div class="container">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";

export default {
  name: "HomePage",
  data() {
    return {
      avatarUser: ''
    };
  },
  created() {
    this.avatarUser = localStorage.getItem('avatarUser')
  },
  methods: {
    dashboard() {
      router.push('/dashboard/')
    },
    home() {
      router.push('/home/')
    },
    order() {
      router.push('/order/')
    },
    logOut() {
      router.push('/login/')
    }
  }
}
</script>

<style scoped>
@import "../assets/SCSS/_home-page.scss";
@import "../assets/library/_common.scss";
</style>