<template>
  <div class="hcpm-box">
    home
    <highcharts :options="chartOptions" class="mt-4 chart-parent"/>
    <p>đơn vị</p>
    <input type="text" v-model="value">
    <button class="btn btn-sm btn-success" @click="add(valueConvert)">add</button>
    <button class="btn btn-sm btn-danger" @click="remove">remove</button>

    <p>kết quả: {{ counter }}</p>
  </div>
</template>

<script>
import {Chart} from 'highcharts-vue'
export default {
  name: "HomeContent",
  components: {
    highcharts: Chart
  },
  watch: {
    value(num) {
      this.valueConvert = Number(num)
    },
  },
  data() {
     return {
       value: '',
       valueConvert: 0,
       counter: 0,
       chartOptions: {
         chart: {
           plotBackgroundColor: null,
           plotBorderWidth: null,
           plotShadow: false,
           type: 'pie'
         },
         title: '',
         tooltip: {
           pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
         },
         accessibility: {
           point: {
             valueSuffix: '%'
           }
         },
         plotOptions: {
           pie: {
             allowPointSelect: true,
             cursor: 'pointer',
             dataLabels: {
               enabled: false
             },
             showInLegend: true
           }
         },
         series: [{
           minPointSize: 10,
           innerSize: '50%',
           zMin: 0,
           data: [
             {
               name: 'VueJS',
               y: 9,
               z: 92.9,
               color: '#17b192'
             }, {
               name: 'Java',
               y: 2,
               z: 118.7,
               color: '#ec5c62'
             }
           ]
         }]
       },
     }
  },
  methods: {
    add(num) {
      if (!num) {
        this.counter = 'Vui lòng nhập đúng số'
      } else this.counter = this.counter + num
    },
    remove() {
      this.counter = 0
    }
  }
}
</script>

<style>
@import "../assets/SCSS/_home-content.scss";
</style>