<template>
  <div class="login">
    <div class="container">
      <form class="login-box m-auto">
        <h5 class="text-center">Đăng nhập</h5>
        <div class="mt-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input
              type="email"
              class="form-control fs-12"
              :class="((!users.email && inputValue) || isEmailType) ? 'empty-value' : ''"
              id="inputEmail"
              placeholder="Nhập Email"
              v-model="users.email"
              @blur="requireEmail"
              @focus="change"
          >
          <label
              class="fs-12"
              :class="((!users.email && inputValue) || isEmailType) ? 'empty-email' : 'd-none'"
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ emailRequied }}
          </label>
        </div>
        <div class="mt-2">
          <label for="inputPassword" class="form-label">Password</label>
          <input
              type="password"
              class="form-control fs-12"
              :class="(inputValue && !users.password) ? 'empty-value' : ''"
              id="inputPassword"
              placeholder="Nhập password"
              v-model="users.password"
          >
          <label
              class="fs-12"
              :class="(!users.password && inputValue) ? 'empty-email' : 'd-none'"
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Vui lòng nhập Password
          </label>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <input type="checkbox">
          <a class="text-decoration-none fw-bold" href="#" @click="sigUp">Đăng ký</a>
        </div>
        <div class="mt-3 text-center">
          <button type="submit" class="btn btn-success" @click="login">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>

</template>

<script>
import {getDataUser} from "@/api";
import { ElMessage } from 'element-plus'
import router from "@/router";

export default {
  name: 'LoginComponent',
  props: {

  },
  data() {
    return {
      inputValue: false,
      isEmailType: false,
      users: [],
      account: [],
      inputEmail: '',
      emailRequied: 'Vui lòng nhập Email!',
      validEmail: false
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      getDataUser().then(data => {
        this.users = data.data
      })
    },
    change() {
      if (this.users.email) {
        this.isEmailType = false
      }
    },
    requireEmail() {
      let inputValueEmail = this.users.email
      let emailRequire = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
      if (!emailRequire.test(inputValueEmail) && inputValueEmail) {
        this.emailRequied = 'Vui lòng nhập đúng Email'
        this.isEmailType = true
      }
      else{
        this.isEmailType = false
        this.emailRequied = 'Vui lòng nhập Email'
      }
      if (emailRequire.test(inputValueEmail)) {
        console.log('email hop le')
        this.validEmail = true
      } else this.validEmail = false

    },
    login() {
      event.preventDefault()
      if (!this.users.email || !this.users.password) {
        this.inputValue = true
      }
      const account  = this.users.filter(item => {
        if(item.email === this.users.email && item.password === this.users.password) {
          return item
        }
      })
      if(account[0]) {
        if (this.validEmail) {
          ElMessage('Đăng nhập thàng công')
          setTimeout(() => {
            router.push('/home/')
          }, 2000)
          localStorage.setItem('avatarUser', account[0].image)
        }
      } else if ((this.users.email && this.users.password)) {
        ElMessage('Email hoặc Password không đúng!')
      } else ElMessage('Đăng nhập thất bại!')
    },
    sigUp() {
      router.push('/sign-up/')
    }
  }
}
</script>
<style>
@import "../assets/SCSS/_login.scss";
</style>