<template>
  <div class="onboading">
    <div class="image-logo">
      <img class="w-100" src="../assets/images/logo.png" alt=" "/>
    </div>
    <p class="text-white mt-3 fs-16">Hệ thống quản lý nhân viên & khách hàng</p>
    <el-button
        type="success"
        class="d-flex align-items-center"
        @click="started"
    >
      Bắt đầu
      <i class="fa-solid fa-right-long ms-2"></i>
    </el-button>
  </div>
</template>
<script>

import router from "@/router";

export default {
  name: 'OnBoading',
  components: {

  },
  data() {
    return {

    }
  },
  methods: {
    started() {
      router.push('/login/')
    }
  }
}
</script>

<style>
@import "../assets/SCSS/_onboading.scss";
</style>
