<template>
  <div class="">{{ status }}</div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: "OrderPage",
  computed: mapState([ 'status' ])
}
</script>

<style>

</style>