<template>
  <div class="login">
    a
    <div class="container">
      <form class="login-box m-auto">
        <h5 class="text-center">Đăng ký</h5>
        <div class="mt-3">
          <input
              type="email"
              class="form-control mt-2"
              :class="((inputValue && !dataSignUp.email) || isEmailType) ? 'empty-value' : ''"
              placeholder="Email"
              style="
                background-color: Transparent;
                background-repeat:no-repeat;
                color: white;
              "
              v-model="dataSignUp.email"
              @blur="requireEmail"
              @focus="change(dataSignUp.email)"
          >
          <label
              class="fs-12"
              :class="((inputValue && !dataSignUp.email) || isEmailType) ? 'empty-email' : 'd-none'"
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ emailRequied }}
          </label>
        </div>
        <div class="mt-2 fs-12">
          Nếu bạn đã có tài khoản,
          <a class="text-decoration-none fs-14" href="#" @click="logIn">Đăng nhập</a>
        </div>
        <div class="mt-3 text-center">
          <button type="submit" class="btn btn-success" @click="signUp">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import router from "@/router";

export default {
  name: "SignUp",
  data() {
    return {
      dataSignUp: [],
      inputValue: false,
      isEmailType: false,
      emailRequied: 'Vui lòng nhập Email!',
    }
  },
  watch: {
    dataChange() {
      console.log(this.dataSignUp.email)
    }
  },
  methods: {
    signUp() {
      event.preventDefault()
      if (!this.dataSignUp.email || !this.dataSignUp.password) {
        this.inputValue = true
      }
    },
    logIn() {
      router.push('/login/')
    },
    requireEmail() {
      let inputValueEmail = this.dataSignUp.email
      let emailRequire = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
      if (!emailRequire.test(inputValueEmail) && inputValueEmail) {
        this.emailRequied = 'Vui lòng nhập đúng Email'
        this.isEmailType = true
      }
      else{
        this.isEmailType = false
        this.emailRequied = 'Vui lòng nhập Email'
      }
      if (emailRequire.test(inputValueEmail)) {
        console.log('email hop le')
        this.validEmail = true
      } else this.validEmail = false
    },
    change(data) {
      if (!data) {
        this.inputValue = false
      }
    },
  }
}
</script>

<style>

</style>